<div class="card__list">
  <ul class="list list--white">
    <li class="list__heading list__heading--white">10k+</li>
    <li class="list__body list__body--white">COMPANIES</li>
  </ul>
  <ul class="list list--white">
    <li class="list__heading list__heading--white">312</li>
    <li class="list__body list__body--white">TEMPLATES</li>
  </ul>
  <ul class="list list--white">
    <li class="list__heading list__heading--white">12M+</li>
    <li class="list__body list__body--white">QUERIES</li>
  </ul>
</div>
